/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.pytest_cache/
.coverage.*
coverage.*
test-output.*
.cache/
.mypy_cache/
/tests/keys/localhost.crt
/tests/keys/localhost.key
path.txt
opt/yodobashi/.scrapy/httpcache
opt/yodobashi/yodobashi_2022-07-02T02-22-36.csv
opt/yodobashi/desktop.csv

# Windows
Thumbs.db